# sorted alphabetically
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
BreakBeforeBraces: Custom
ColumnLimit: 115
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentPPDirectives: BeforeHash
IndentRequiresClause: true
IndentWidth: 4
NamespaceIndentation: All
PackConstructorInitializers: NextLine
PPIndentWidth: -1
PointerAlignment: Left
RequiresClausePosition: OwnLine
SortIncludes: true
SpaceBeforeParens: Never
TabWidth: 4